body{
  background-image: url("https://cdn.lynda.com/course/477451/477451-636198978267245657-16x9.jpg");
}

ul{
  list-style-type: none;
}

#jav{
  display: none;
}

.modu{
  display: none;
}

.dat{
  display: none;
}

.arr{
  display: none;
}

.ceil{
  display: none;
}

.var{
  display: none;
}

#but6{
  display: none;
}

#vaj{
  display: none;
}

.ras{
  text-align: center;
}
